<div class="custom-homepage-content">
    <div class="card-container category-custom-cards">

    <a href="/c/getting-started/65" class="card">
        <img class="category-image" src="https://cdck-file-uploads-europe1.s3.dualstack.eu-west-1.amazonaws.com/flex013/uploads/make/original/3X/d/a/da54a66348eaa30e04595c24aff19337b8802617.svg">
        <div class="card-title">Getting Started</div>
        <div class="card-description">Ask questions and get support from the community as a new user.</div>
    </a>

    <a href="/c/how-to/66" class="card">
        <img class="category-image" src="https://cdck-file-uploads-europe1.s3.dualstack.eu-west-1.amazonaws.com/flex013/uploads/make/original/3X/e/3/e3e083750597dafd1d651abb9c29ac04127c2c39.svg">
        <div class="card-title">How To</div>
        <div class="card-description">Ask questions related to building and troubleshooting your scenarios.</div>
    </a>

    <a href="/c/custom-apps/52" class="card">
        <img class="category-image" src="https://cdck-file-uploads-europe1.s3.dualstack.eu-west-1.amazonaws.com/flex013/uploads/make/original/3X/7/6/7691bb4d680de9e8fe9d29b919d49bf0d7cae1a3.svg">
        <div class="card-title">Custom Apps</div>
        <div class="card-description">Discuss topics related to custom app development in Make.</div>
    </a>

    <a href="/c/features/67" class="card">
        <img class="category-image" src="https://cdck-file-uploads-europe1.s3.dualstack.eu-west-1.amazonaws.com/flex013/uploads/make/original/3X/8/9/89c74a02f3ca9feab2e1ad64bebfa08bfc38aa39.svg">
        <div class="card-title">Features</div>
        <div class="card-description">Discuss Make’s features, functionality, capabilities, and integrations.</div>
    </a>

    <a href="/c/news/48" class="card">
        <img class="category-image" src="https://cdck-file-uploads-europe1.s3.dualstack.eu-west-1.amazonaws.com/flex013/uploads/make/original/3X/3/0/3074b931e4a5811c80ecbd39eebb702a27a42217.svg">
        <div class="card-title">News</div>
        <div class="card-description">Get news from the Make side - updates, releases &amp; more.</div>
    </a>

    <a href="/c/showcase/51" class="card">
        <img class="category-image" src="https://cdck-file-uploads-europe1.s3.dualstack.eu-west-1.amazonaws.com/flex013/uploads/make/original/3X/8/a/8a81209ad37c278d8c87543b01d81fe87d99dbd9.svg">
        <div class="card-title">Showcase</div>
        <div class="card-description">Show off the cool stuff you’ve built with Make - hacks, best practices &amp; more.</div>
    </a>

    </div>

</div>
